doctype html
html
  head
    //- title=title
    block heads
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block styles
    block style
  body
    block nav
    block content
    block scripts
      script(src="/javascripts/jquery.min.js")
    block script
    
      
